openapi: 3.0.0
info:
  title: title
  version: v1
paths:
  /:
    get:
      responses:
        200:
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
components:
  schemas:
    Response:
      type: array
      items:
        type: string
      example:
        $ref: '#/x-examples/Array'
x-examples:
  Array: [ 1, 2, 3 ]
