<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><code>npm install openapi-enforcer</code></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li><a href="https://github.com/byu-oit/openapi-enforcer">Github</a></li>
          <li><a href="https://www.npmjs.com/package/openapi-enforcer">NPM</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>
          Caught a mistake or want to contribute to the documentation?
          <a href="#">Edit this page on Github</a>
        </p>
      </div>
    </div>

  </div>

</footer>
