<div class="nav-screen"></div>
<nav>
  <ul>
    <li><a href="{{ "/" | prepend:site.baseurl }}">About</a></li>
    <li>
      <a href="{{ "/guide" | prepend:site.baseurl }}">Guide</a>
      <ul>
        <li><a href="{{ "/guide/create-api" | prepend:site.baseurl }}">Create an API</a></li>
        <li><a href="{{ "/guide/component-plugins" | prepend:site.baseurl }}">Component Plugins</a></li>
        <li><a href="{{ "/guide/enforcer-result" | prepend:site.baseurl }}">EnforcerResult</a></li>
        <li><a href="{{ "/guide/validate-document" | prepend:site.baseurl }}">Validate a Document</a></li>
      </ul>
    </li>
    <li>
      <a href="{{ "/api" | prepend:site.baseurl }}">API Reference</a>
      <ul>
        <li><a href="{{ "/api" | prepend:site.baseurl }}">Enforcer</a></li>
        <li><a href="{{ "/api/enforcer-exception"  | prepend:site.baseurl }}">EnforcerException</a></li>
        <li><a href="{{ "/api/enforcer-result"  | prepend:site.baseurl }}">EnforcerResult</a></li>
        <li>
          <a href="{{ "/api/components" | prepend:site.baseurl }}">Components</a>
          <ul>
            <li><a href="{{ "/api/components/openapi" | prepend:site.baseurl }}">OpenApi</a></li>
            <li><a href="{{ "/api/components/operation" | prepend:site.baseurl }}">Operation</a></li>
            <li>
              <a href="{{ "/api/components/schema" | prepend:site.baseurl }}">Schema</a>
              <ul>
                <li><a href="{{ "/api/schema-value" | prepend:site.baseurl }}">Schema Value</a></li>
              </ul>
            </li>
            <li><a href="{{ "/api/components/swagger" | prepend:site.baseurl }}">Swagger</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="{{ "/related" | prepend:site.baseurl }}">Related Projects</a></li>
  </ul>
</nav>
