<ul>
    <li>Contact</li>
    <li>Example</li>
    <li>ExternalDocumentation</li>
    <li>Header</li>
    <li>Info</li>
    <li>Items</li>
    <li>License</li>
    <li><a href='{{ "/api/components/operation" | prepend:site.baseurl }}'>Operation</a></li>
    <li>Parameter</li>
    <li>PathItem</li>
    <li>Paths</li>
    <li>Reference</li>
    <li>Response</li>
    <li>Responses</li>
    <li><a href='{{ "/api/components/schema" | prepend:site.baseurl }}'>Schema</a></li>
    <li>SecurityRequirement</li>
    <li>SecurityScheme</li>
    <li><a href='{{ "/api/components/swagger" | prepend:site.baseurl }}'>Swagger</a></li>
    <li>Tag</li>
    <li>Xml</li>
</ul>
