<ul>
    <li>Callback</li>
    <li>Components</li>
    <li>Contact</li>
    <li>Encoding</li>
    <li>Example</li>
    <li>ExternalDocumentation</li>
    <li>Header</li>
    <li>Info</li>
    <li>License</li>
    <li>Link</li>
    <li>MediaType</li>
    <li>OAuthFlow</li>
    <li>OAuthFlows</li>
    <li><a href='{{ "/api/components/openapi" | prepend:site.baseurl }}'>OpenApi</a></li>
    <li><a href='{{ "/api/components/operation" | prepend:site.baseurl }}'>Operation</a></li>
    <li>Parameter</li>
    <li>PathItem</li>
    <li>Paths</li>
    <li>Reference</li>
    <li>RequestBody</li>
    <li>Response</li>
    <li>Responses</li>
    <li><a href='{{ "/api/components/schema" | prepend:site.baseurl }}'>Schema</a></li>
    <li>SecurityRequirement</li>
    <li>SecurityScheme</li>
    <li>Server</li>
    <li>ServerVariable</li>
    <li>Tag</li>
    <li>Xml</li>
</ul>
